input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  outline: none;
  padding: 0 10px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

input:hover {
  border-color: #e74c3c;
}

button {
  border: 0 solid #dcdfe6;
  font-size: inherit;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  height: 40px;
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

button:hover {
  background: #e66b5d;
  border-color: #e66b5d;
}

span {
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #9e9e9e;
  padding: 0 5px;
}

.upload-img {
  margin: 10px auto;
  display: block;
  max-width: 80%;
}